*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --floral-white: #fffcf2ff;
  --pale-silver: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --text-shadow: #574c47ff;
  --flame: #eb5e28ff;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--floral-white);
}

.header {
  padding: 50px 0;
}
.title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  height: 50px;
  width: 100px;
  font-family: Courier New;
  font-size: 2em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--text-shadow);
  background-color: var(--black-olive);
  border: 1px solid var(--eerie-black);
  box-shadow: inset 1px -5px 0px -3px var(--pale-silver);
}

button:hover {
  background: var(--eerie-black);
}

button:active {
  background-color: var(--flame);
  transform: translate(0, 2px);
}

td {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

td:hover {
    background: var(--pale-silver);
}

table {
  margin: 5px auto;
  border-collapse: collapse;
  margin-bottom: 50px;

}
.vert {
  border-left: 5px solid black;
  border-right: 5px solid black;
}
.hori {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.content {
  text-align: center;
  font-size: 60px;
}
.gameStatus {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding:20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetBoard {
  margin-top: 20px;
}
.resetAndSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 20px;
  font-weight: bold;
  padding:20px;
}
.selectionDiv {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
